a{
  text-decoration-line: none;
}

.header img{
  width: 150px;
}

.header-nav{
  display: flex;
  justify-content: right;

}

.header-nav-list{
  display: flex;
  justify-content: space-between;
  color: black;
  margin-left: auto;
  margin-right: 0px;
}

.header-nav-item a{
  color: rgb(165, 165, 165);
  margin-right: 30px;
}

.ad{
  width: 100%;
  height: 600px;
  margin-top: 20px;
  position: relative;
}

.ad img{
  width: 60%;
  position: absolute;
  left: 40%;
}

.ad-catchcopy{
  position: absolute;
  top: 100px;
  left: 15%;
  font-family: 'Architects Daughter', cursive;
  font-size: 70px;
  color: rgb(165, 45, 135);
  line-height: 100px;
}

.growth{
  color: rgb(75, 150, 207);
}

.ad-outline{
  position: absolute;
  top: 300px;
  left: 15%;
}

.ad-commit{
  color: rgb(165, 45, 135);
  margin: 30px 0px;
  font-weight: bolder;
  font-size: 25px;
}

.ad-commit span{
  color: rgb(75, 150, 207);
  font-weight: bolder;
}

.ad-detail{
  margin-top:-20px;
  font-family: 'Arial Narrow Bold';
  color: rgb(165, 165, 165) ;
  font-size: 20px;
  line-height: 30px;
}

.news-block{
  width: 100%;
  height: 400px;
  color: rgb(165, 165, 165) ;
  position: relative;
}

.news{
  width: 50%;
  margin: 20px auto;
  padding-bottom: 20px;
  border-bottom: solid rgb(165, 165, 165);
}

.news-block p{
  font-family:'Architects Daughter', cursive;
  color: rgb(165, 45, 135);
  font-size: 20px;
  padding: 10px 0px;
}

.news h2{
  font-size: 25px;
  padding-bottom: 20px;
  margin-bottom: 20px;
  border-bottom: solid rgb(165, 165, 165);
}

.news dl {
width: 100%;
padding: 10px 0;
border-bottom: 1px solid #ccc;
}

.news dt {
padding-bottom: 5px;
display: inline-block;
}

.news dd{
  display: inline-block;
}

dl a{
  background-color:rgb(165, 45, 135);
  border-radius:20px;
  color:#fff;
  margin:0 20px;
  padding:3px 10px;
  text-decoration:none;
}

.about-block{
  width: 100%;
  height: 450px;
  background-color: rgb(229, 226, 226);
  color: rgb(165, 164, 164) ;
  position: relative;
}

.about-head{
  height: 20%;
  text-align: center;
  padding: 20px;
  box-sizing: border-box;
}

.about-head p{
  font-family:'Architects Daughter', cursive;
  color: rgb(165, 45, 135);
  font-size: 20px;
  padding-bottom: 10px;
}

.about-head h2{
  color: rgb(99, 99, 99);
  font-size: 25px;
}

.about-body{
  display: flex;
  width: 80%;
  height: 80%;
  margin: 0px auto;
  padding: 10px 0;
  box-sizing: border-box;

}

.about-detail{
  text-align: left;
  width: 100%;
  padding: 0px 50px;
}

.about-detail p{
  line-height: 30px;
  font-size: 18px;
}

.about-detail img{
  width: 100%;
}

.service-block{
  width: 100%;
  height: 500px;
}

.service-head{
  height: 20%;
  line-height: 30px;
  padding: 20px 0px 0px 250px;
  width: 100%;
  box-sizing: border-box;


}

.service-head p{
  font-family:'Architects Daughter', cursive;
  color: rgb(165, 45, 135);
  font-size: 20px;
}

.service-head h2{
  color: rgb(99, 99, 99);
  font-size: 25px;
}

.service-body{
  padding: 0px 250px;
  height: 80%;
  display: flex;
  color: white;
}

.service-body1{
  width: 50%;
  height: 80%;
  text-align: center;
  background-color: rgb(165, 45, 135)
}

.service-body1 h2{
  margin-top: 35px;
  margin-bottom: 15px;
  font-size: 20px;
}

.service-body1 p{
  font-size: 16px;
  width: 80%;
  margin: 0 auto;
  text-align: left;
  line-height: 25px;
}

.service-body2{
  width: 50%;
  height: 80%;
  text-align: left;
}

.service-body img{
  width: 25%;
}

.service-body1 img{
  position: relative;
  top: 30px;

}

.service-body2 img{
  position: relative;
  left: 20px;
  top: 0px;
}

.service-body2-1{
  height: 50%;
  width: 100%;
  background-color: rgb(180, 103, 180);
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
}

.service-body2-2{
  height: 50%;
  width: 100%;
  background-color: rgb(184, 144, 184);
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
}

.service-body-text{
  padding: 20px 20px 20px 30px;
  text-align: left;
}

.service-body2-1 h2{
  font-size: 20px;
  width: 100%;
}

.service-body2-1 p{
  font-size: 15px;
  line-height: 18px;
  width: 100%;
  padding:10px 0px;
}

.service-body2-2 h2{
  font-size: 20px;
  width: 100%;
}

.service-body2-2 p{
  font-size: 15px;
  line-height: 18px;
  width: 100%;
  padding:10px 0px;
}

.blog-block{
  width: 100%;
  height: 500px;
  padding-top: 20px;
  background-color: rgb(229, 226, 226);
  box-sizing: border-box;
}

.blog-head{
  line-height: 30px;
  padding-left: 250px;
}

.blog-head p{
  font-family:'Architects Daughter', cursive;
  color: rgb(165, 45, 135);
  font-size: 20px;
}

.blog-head h2{
  color: rgb(99, 99, 99);
  font-size: 25px;
}

.blog-body{
  display: flex;
  justify-content: space-between;
  margin: 20px 250px;
}

.blog{
  width: 30%;
  height: 300px;
  border-radius: 20px;
  background-color: white;
  position: relative;
}

.blog-img{
  height: 60%;
  width: 100%;
}

.blog-content{
  height: 40%;
  width: 100%;
  padding: 20px;
  box-sizing: border-box;
}

.blog-img img{
  width: 100%;
  border-radius: 20px 20px 0 0;
}

.blog-icon{
  background-color:rgb(165, 45, 135);
  width: 50px;
  text-align: center;
  padding: 5px;
  color:white;
  border-radius: 20px 0px 0px 0px;
  position: absolute;
  top: 0px;
  left: 0px;
}

.blog-content P{
  color: rgb(99, 99, 99);
  line-height: 20px;
  height: 50%;

}

.blog-tag{
  height: 50%;
  width: 100%;
  padding-top: 20px;
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  box-sizing: border-box;
}

.blog-a {
  width: 120px;
  display: block;
  margin: 30px auto;
  padding: 10px;
  text-align: center;
  color: rgb(165, 45, 135);
  font-size: 15px;
  /* text-decoration: none; */
  border-radius: 30px;
  border-color:rgb(165, 45, 135);
  border-style: solid;
}

.company-block{
  width: 100%;
  height: 400px;
  color: rgb(99, 99, 99);
}

.company-head{
  padding: 50px 0px 20px 25%;
  line-height: 30px;
}

.company-head p{
  font-family:'Architects Daughter', cursive;
  color: rgb(165, 45, 135);
  font-size: 20px;
}

.company-head h2{
  color: rgb(99, 99, 99);
  font-size: 25px;
}

table {
  width:50%;
  margin-left: 25%;
  font-size: 15px;
}
table th,table td {
  border: 1px solid #ccc;
  padding: 15px;
}
table th {
  font-weight: bold;
  background-color: #ececec;
  text-align: left;
}

.recruit-block{
  height: 300px;
  width: 100%;
}

.recruit-head{
  display: flex;
}

.recruit-img1{
  background: url(../img/recruit.png) no-repeat left;
  width: 100%;
  height: 300px;
  background-size: cover;
  position: relative;
}

.recruit-img2{
  background: url(../img/interview.png) no-repeat left;
  width: 100%;
  height: 300px;
  background-size:cover;
  position: relative;
}

.recruit-img1 p,.recruit-img2 p{
  color: white;
  text-align: center;
  font-size: 25px;
  /* padding-top: 150px; */
  position: absolute;
  top:50%;
  left:50%;
  transform:translate(-50%,-50%);
}

.form{
  margin-top: 50px;
  text-align: center;
  color: rgb(99, 99, 99);
  font-size: 20px;
}

.form-to{
  width: 1px;
  height: 25px;
  background-color: rgb(165, 45, 135);
  margin-left: 50%;
  margin-top: 10px;
}

.form-btn {
  position: relative;
  width: 150px;
  padding: 15px;
  text-align: center;
  display: block;
  margin: 10px auto;
  background: linear-gradient(90deg,rgb(252, 3, 177),rgb(153, 2, 115));
  border-radius: 30px;
  box-shadow: 5px 5px rgb(122, 35, 101);
  color: #fff;
  font-size: 15px;
  /* text-decoration: none; */
}

.form-btn::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 20px;
  background: url(../img/mailicon.svg) no-repeat;
  background-size: cover;
  width: 20px;
  height: 20px;
  transform: translate(0%, -50%);
}

footer{
  margin-top: 50px;
  background-color:rgb(233, 233, 233);
  text-align: center;
  font-size: 13px;
  padding: 5px;
  color: rgb(99, 99, 99);
}